* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', Courier, monospace;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.first-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.level {
    width: 100%;
    height: 50%;
    grid-template-columns: repeat(2, 1fr);
    display: grid;

}

.two-col {
    height: 100%;
    border-bottom: 80px solid #dea677;
    background-color: #9f6c40;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    position: relative;
}

.shelve-shadow {
    position: absolute; /* 추가: 요소를 상대적으로 배치 */
    z-index: 1;
    width: 100%;
    height: 100%;
    border-bottom: 100px solid #7a502e;
}

.flower {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    cursor: pointer;
    transition: 0.3s ease;
    left: 0px;
    transform: rotate(0deg);

    &:hover {
        left: 160px;
        transform: rotate(15deg);
    }
}

.flower:before,
.flower:after {
    content: "";
    position: absolute;
    width: 170px;
    height: 330px;
    background-color: pink;
    border-radius: 50%;
}

.flower:before {
    justify-content: center;
    transform: rotate(45deg);
}

.flower:after {
    justify-content: center;
    transform: rotate(-45deg);
}

.flower a {
    display: flex;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-flower {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    cursor: pointer;
}

.inner-flower:before,
.inner-flower:after {
    content: "";
    position: absolute;
    width: 190px;
    height: 350px;
    background-color: white;
    border-radius: 50%;
}

.inner-flower:before {
    justify-content: center;
    transform: rotate(45deg);
}

.inner-flower:after {
    justify-content: center;
    transform: rotate(-45deg);
}

.inner-flower a {
    display: flex;
    height: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tree {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    cursor: pointer;
    transition: 0.3s ease;
    left: 0px;
    transform: rotate(0deg);

    &:hover {
        left: 160px;
        transform: rotate(15deg);
    }
}

.tree:before,
.tree:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 186.6px solid green;
    border-radius: 5px;
}

.tree:before {
    justify-content: center;
}

.tree:after {
    justify-content: center;
    top: 30px;
}

.tree a {
    display: flex;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -60px;

}

.inner-tree {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 2;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    cursor: pointer;
}

.inner-tree:before,
.inner-tree:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 210px solid white;
    border-radius: 5px;
}

.inner-tree:before {
    justify-content: center;
}

.inner-tree:after {
    justify-content: center;
    top: 20px;
}

.inner-tree a {
    display: flex;
    height: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -50px;
}

.poster {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    cursor: pointer;
    transition: 0.3s ease;
    right: 0px;
    transform: rotate(0deg);

    &:hover {
        right: 160px;
        transform: rotate(-15deg);
    }
}

.poster:before,
.poster:after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 280px;
    background-color: #badde4;
    justify-content: center;
    border-radius: 5px;
}

.poster a {
    display: flex;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-poster {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 2;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    cursor: pointer;
}

.inner-poster:before,
.inner-poster:after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 300px;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
}

.inner-poster a {
    display: flex;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    position: relative;
}



.diamond {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    cursor: pointer;
    transition: 0.3s ease;
    right: 0px;
    transform: rotate(0deg);

    &:hover {
        right: 160px;
        transform: rotate(-15deg);
    }
}

.diamond:before,
.diamond:after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    background-color: yellow;
    justify-content: center;
    border-radius: 5px;
}

.diamond:before {
    transform: rotate(0deg);
}

.diamond:after {
    transform: rotate(-45deg);
}

.diamond a {
    display: flex;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-diamond {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 2;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    cursor: pointer;
}

.inner-diamond:before,
.inner-diamond:after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 220px;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
}

.inner-diamond:before {
    transform: rotate(0deg);
}

.inner-diamond:after {
    transform: rotate(-45deg);
}

.inner-diamond a {
    display: flex;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* mouse effect  */

/* .mouse {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.front-element {
    z-index: 9999;
    pointer-events: none;
} */

#cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background-image: url('cursor.png');
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

.confetti {
    position: fixed;
    width: 5px;
    height: 5px;
    /* 원하는 파스텔톤 색상을 RGB 또는 HSL 형식으로 지정합니다. */
    background-color: hsl(180, 100%, 80%); /* 파란색 계열의 파스텔톤 */
    z-index: 9998;
    animation: explode 0.5s ease forwards;
}

@keyframes explode {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media screen and (max-width: 600px) {

    .level {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }

}