body {
    background-color: #D1D1D1;
}

.painting-1 {
    display: grid;
    width: 600px;
    height: 600px;

    /* testing */
    border: 1px solid black; 
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.cream {
    background-color: #FBF9EA;
}

.red {
    background-color: #EC4C40;
}

.blue {
    background-color: #41A0CE;
}

.yellow {
    background-color: #FDDC05;
}

.border-right {
    border-right: 20px solid #48474A;
}

.border-bottom {
    border-bottom: 20px solid #48474A;
}

/* painting2 */

.charcoal {
    background-color: #1D1B1E;
}

.teagreen {
    background-color: #DEEDD0;
}

.mango {
    background-color: #F5C647;
}

.cyan-blue {
    background-color: #3B84DF;
}

.tuna {
    background-color: #354045;
}

.wheatfield {
    background-color: #F2ECD5;
}

.forest {
    background-color: #499268;
}

.pastel-pink {
    background-color: #F6D8D4;
}

.persian-blue {
    background-color: #2141B3;
}

.tomato {
    background-color: #DF534B;
}

.orange {
    background-color: #EC724C;
}

.reddish {
    background-color: #C14545;
}

.eggshell {
    background-color: #F6E8E2;
}

.coral {
    background-color: #D74A44;
}

.indian-yellow {
    background-color: #F0A14F;
}

/* painting3 */

.kiwi {
    background-color: #B4E949;
}

.white {
    background-color: #fff;
}

.pink {
    background-color: #FF6BBD;
}